body{
   padding: 0%;
   margin: 0%;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between;
   background: linear-gradient(50deg ,rgb(109, 28, 133),rgb(172, 49, 49));
}
.nav{
  
   display: flex;
   justify-content: center;
   align-items:center;
   background-color: black;
   margin: 0%;
   padding: 30px;
   padding-left: 150px;
   padding-right: 150px;
}
.Buttones{
   color: white;
   margin-right: 60px;
   text-decoration: none;
   padding: 9px;
   border-radius: 30%;
   transition:1.3s cubic-bezier(0.19, 1, 0.22, 1);
   cursor: pointer;
   
}
.Buttones:hover {
   transform: scale(2.1);
   background: rgb(241, 86, 25);
   
}
.Imge{
    position: fixed;
   height: 250px;
   width: 250px;
   border-radius: 50%;
   display: flex;
  float: right;
  justify-content: center;
  margin-right: 100px;
  margin-top: 100px;
  cursor: pointer;
  position: relative;
  transition: transform 0.6s ease;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
transition: transform 0.3s, box-shadow 0.3s;

}
.Imge:hover{

  transform: scale(1.2);
  transform: scale(1.1); 
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.7)
   
}
.text{
position: absolute;
padding: 0%;
margin: 0%;
top: 30%;
left: 6%;
margin-left: 50px;
display: flex;
color: black;
font-size: 30px;
font-weight: 400px;
font-style: normal;
}



.Login{
   padding: 20px;
   align-items: center;
   display: flex;
   font-size: 15px;
   float: center;
   justify-content: center;
}
.Login a{
  
   text-decoration: none;
   color: white;
   display: flex;
   padding: 15px;
   background-color: rgb(216, 28, 15);
   cursor: pointer;
   border-radius: 50px;
   transition: 0.6s;
}
.Login a:hover{
background: linear-gradient(50deg, #9b28c9,#d71313);
transform: scale(1.1);
}


@media (max-width: 768px) {
   .Login {
     top: 30px; 
     left: 30px; 
     transform: none; 
     width: calc(100% - 20px); 
   }
 }

.Logo{
   padding: 0px;
   margin: 0px;
   position: absolute;
   top: 9%;
   left: 0%;
   display: flex;
   height: 110px;
   width: 110px;

}
.intruduction{
  position: absolute;
  top: 130px;
  display: flex;
  font-size: 17px;
   left: 10%;
}

@media (max-width: 768px) {
   .intruduction {
     top: 20px; 
     left: 10px; 
     transform: none; 
     width: calc(100% - 20px); 
   }
 }

.chetan{
position: absolute;
margin-top: 75px;
margin-left: 80px;
}

span{
   color: #e81515;
}
